body {
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    line-height: 2;
    color: #140f11;
    background-color: #fff;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 50%;
}

.float-right {
    float: right;
}


table, th, td {
    border: 1px solid black;
}

