
/* ---------------- GENERAL ---------------- */

    *:focus {outline: none;}
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
        font-size: 1rem;
        line-height: 2;
        color: #140f11;
        background-color: #fff;
    }



/* ---------------- PAGE-CONTENT ---------------- */

    .page-content_index {
        display: flex;
        align-items: center; /* CROSS AXIS */
        justify-content: center; /* MAIN AXIS */
        flex-direction: column;
        margin-top: 100px;
    }

    .page-content {
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, 0%);
        margin: 50px 0 200px 0;
    }

    .page-content_80 {
        width: 80%;
    }

    .page-content_70 {
        width: 70%;
    }

    .page-content_60 {
        width: 60%;
    }
    
    .page-content_40 {
        width: 40%;
    }

    .page-content_info,
    .page-content_toevoegen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .page-content_tables,
    .page-content_bewerken {
        display: flex;
        align-items: top;
        justify-content: space-evenly;
    }

    .page-content_account-bewerken,
    .page-content_uitlening-bewerken {
        width: 30%;
        display: flex;
        flex-direction: column;
    }


    
    .page-content_lening-overzicht {
        display: flex;
        justify-content: center;
        box-sizing: content-box;
        inline-size: 100%;
        top: 25%;
        margin-bottom: 200px;
    }

    .flex-item_lening-toevoegen {
        margin: 0 30px;
    }

    /* .page-content_lening-overzicht {
        box-sizing: content-box;
        display: flow-root;
        inline-size: 100%;
        top: 25%;
    } */

    .bewerken-formulier_boek,
    .bewerken-formulier_exemplaar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }




/* ---------------- HEADER ---------------- */

    header {
        background-color: #140f11;
        width: 100%;
        display: flex;
    }

    #logo {
        cursor: pointer;
        width: 100px;
        height: auto;
        margin: 20px;
    }

    .btn-logout {
        position: absolute;
        right: 5%;
        align-self: center;
        font-size: 100%;
        background-color: transparent;
        color: #97bf0d;
        padding: 10px;
    }
    
    .btn-logout:hover {
        color: #7caf34c7;
        transition: .2s;
    }




/* ---------------- PAGINA-TITELS ---------------- */

    h1 {
        position: absolute;
        color: #97bf0d;
        letter-spacing: 1px;
        font-size: 300%;
        font-weight: 400;
        left: 20%;
        align-self: center;
    }

    h2.main-header {
        font-size: 300%;
        font-weight: 400;
        left: 50%;
        transform: translate(-50%, 0);
        align-self: center;
    }

    h2,
    .tabel-titel {
        text-align: center;
        font-size: 170%;
        font-weight: 700;
    }

/* ---------------- BUTTONS ---------------- */
    

    button {
        color: #fff;
        border: none;
        color: white;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
    }

    .button-green {
        width: 150px;
        height: 50px;
        margin: 5px;
        color: white;
        font-weight: 700;
        padding: 15px 32px;
        font-size: 14px;
        background-color: #8ec63f;
    }

    .button-green:hover,
    .button-green_index:hover {
        background-color: #7caf34;
        transition: .2s;
    }


        /* Index buttons */
    .button-green_index,
    .button-black_index {
        text-transform: uppercase;
        width: 250px;
        height: 120px;
        margin: 40px;
        font-weight: 700;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 16px;
    }
    
    .button-green_index {
        background-color: #8ec63f; /* Green */
        margin-bottom: 15px;
    }

    .button-black_index {
        background-color: #140f11; /* Black */
    }

    .button-black_index:hover {
        background-color: #140f11e8;
        transition: .2s;
    }


        /* Overzicht-button */
    .float-right.button-green {
        float: right;
        margin: 30px;
    }
    .float-left.button-green {
        float: left;
        margin: 30px;
    }

        /* Knoppen onder tabellen */
    .bottom-buttons_boek {
        width: 80%;
    }

    .bottom-buttons_account {
        width: 50%;
    }




    /* ---------------- TABELLEN ---------------- */

    /* TABEL */

    table {
        overflow-x:auto;
        border-collapse: collapse;
        border: transparent;
        width: 100%;
        margin-bottom: 50px;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #8ec63f;
        color: white;
        cursor: default;
    }

    tr:nth-child(even) {background-color: #cce5a844;}

    .met-hover tr:hover {
        background-color: #a5d266af;
        transition: .2s;
        cursor: pointer;
    }

    .tabel_boek-info,
    .tabel_account-info {
        column-width: 50%;
    }

    .tabel_boek-info {
        width: 50%;
    }
    .tabel_exemplaar_boek-info {
        width: 40%;
    }

    .tabel_account-info {
        width: 50%;
        margin: 50px auto 80px auto;
    }

    .th_info {
        background-color: transparent;
        color: #140F11;
    }

    .zoeken.account_geschiedenis {
        margin-top: 50px;
    }

    table.account_geschiedenis {
        width: 80%;
    }


    /* BUTTONS */

    table button {
        color: #8ec63f;
        background-color: transparent;
        text-align: center;
        font-size: 35px;
        margin: auto;
        font-weight: 500;
        padding: 0;
    }

    .btn {
        text-align: center;
    }


    /* COLUMNS */

    .hide-column {display: none;}

            
            /* boekoverzicht */
        .auteur_boek-overzicht,
        .categorie_boek-overzicht {width: 20%;}

        .titel_boek-overzicht {width: 40%}

        .isbn_boek-overzicht {width: 20%;}

        .bewerk-verwijder,
        .status_boek-overzicht {width: 10%;}


            /* uitleenoverzicht */
        .uitleen-exemplaar-id,
        .bewerk-inlever {width: 8%;}
        
        .uitleen-titel {width: 33%;}

        .uitleen-datum {width: 15%;}

        .uitleen-lener,
        .uitleen-auteur{width: 18%;}

            /* lening-toevoegen */

        .titel_uitlening-toevoegen,
        .auteur_uitlening-toevoegen,
        .categorie_uitlening-toevoegen {width: 20%;}

        .isbn_uitlening-toevoegen {width: 16%;}

        .status_uitlening-toevoegen {width: 8%;}

        .naam_uitlening-toevoegen {width: 40%;}

        .email_uitlening-toevoegen {width: 60%;}


            /* account-geschiedenis */
        .WTid_account-geschiedenis {
            width: 5%;
        }
        .titel_account-geschiedenis {
            width: 40%;
        }
        .auteur_account-geschiedenis {
            width: 25%;
        }
        .datum_account-geschiedenis {
            width: 15%;
        }


    
    /* ---------------- FORM ---------------- */

    .formulieren {
        border-radius: 5px;
        background-color: #cce5a844;
        padding: 20px;
        min-width: 400px;
    }
    
    .formulieren input[type=text],
    .formulieren input[type=number],
    .formulieren input[type=date],
    .lening-toevoegen-form input[type=text], 
    .lening-toevoegen-form input[type=date],
    .lening-toevoegen-form select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .formulieren input[type=submit], 
    .formulieren input[type=button] {
        width: 45%;
        background-color: #8ec63f;
        margin: 2%;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 15px 32px;
        font-size: 14px;
    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      input[type=number] { 
        -moz-appearance: textfield;
        appearance: textfield;
        margin: 0; 
      }

    .formulieren input[type=button] { background-color: #140f11;}

    .formulieren input[type=submit]:hover,
    .lening-toevoegen-form input[type=submit]:hover {
        background-color: #7caf34;
        transition: .2s;
    }

    .formulieren input[type=button]:hover,
    .lening-toevoegen-form input[type=button]:hover {
        background-color: #140f11e8;
        transition: .2s;
    }

    .submit-toevoegen input[type=submit],
    .brede-opslaan-knop input[type=submit] {
        width: 100%;
        background-color: #8ec63f;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 15px 32px;
        font-size: 14px;
    }

            /* Lening toevoegen formulier */

    .lening-toevoegen-form {
        box-sizing: content-box;
        padding: 5px; 
        inline-size: 400px;
        /* margin: 20px auto; */
        max-width: 50%;
    }

    .lening-toevoegen-account-tabel {
        box-sizing: border-box;
        inline-size: 28%;
        /* margin: 40px 0 50px 5%; */
        padding: 0;
        /* float: left; */
        max-width: 50%;
    }

    .lening-toevoegen-boek-tabel {
        box-sizing: border-box;
        inline-size: 60%;
        /* margin: 40px 5% 50px 0; */
        padding: 0;
        /* float: right; */
        max-width: 50%;
    }

    .lening-toevoegen-form form {
        border-radius: 5px;
        background-color: #cce5a844;
        padding: 20px;
    }

    .lening-toevoegen-form input[id=accountnaam], input[id=boektitel] {
        pointer-events: none;
        caret-color: transparent;
    }

        /* boek bewerken - exemplaren toevoegen */


    .exemplaren_toevoegen {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #aantalExemplaren,
    #boekaantal {
        width: 30%;
    }
    .exemplaren_plus,
    .exemplaren_min {
        font-size: 25px;
        cursor: pointer;
        color: #8ec63f;
        padding: 0 20px;
    }


    /* ---------------- ZOEKBALK ---------------- */

    .zoeken {
        margin-bottom: 40px;
    }

    .zoekbalk {
        border: 1px solid #140f1157;
        padding: 4px;
        font-size: 110%;
    }

    .zoeken select {
        font-weight: 100;
        padding: 5px;
        color: #fff;
        border: none;
        background-color: #8ec63f;
        font-size: 110%;
        margin-left: 10px;
    }


    /* ---------------- OVERIGE ---------------- */

    /*img {
            padding: 30px;
            height: 300px;
            width: auto;
    }*/

